h1 {
     margin: auto;
  }
  
  body { color: orange;
        font-family: Monaco, Monospace;
        margin: auto;
        line-height: 2.2;
  }
  
  .ln1 {
      width: 67px;
      margin: auto;
      
  }
  
  .ln2 {
      width: 98px;
      margin: auto;
  }
  
  .ln3 {
      width: 170px;
      margin: auto;
  }
  
  .ln3-5 {
      position: absolute;
      width: 33;
      top: 140px; 
      left: 989px;
  }
  
  .ln4 {
      width: 188px;
      margin: auto;
  }
  
  div {
      width: 10px;
      margin: auto;
  }
  
  