h1 {
     margin: auto;
  }
  
  body { color: orange;
        font-family: Monaco, Monospace;
        margin: auto;
  }
  
  .ln1 {
      width: 49px;
      margin: auto;
      
  }
  
  .ln2 {
      width: 135px;
      margin: auto;
  }
  
  .ln3 {
      width: 170px;
      margin: auto;
  }
  
  .ln3-5 {
      position: absolute;
      width: 33;
      top: 87px; 
      left: 900px;
  }
  
  div {
      width: 10px;
      margin: auto;
  }
  
  