h1 {
     margin: auto;
  }
  
  body { color: orange;
        font-family: Monaco, Monospace;
        margin: auto;
        line-height: 2.2;
  }
  
  .ln1 {
      width: 100px;
      margin: auto;
      
  }
  
  .ln2 {
      width: 130px;
      margin: auto;
  }
  
  .ln3 {
      width: 165px;
      margin: auto;
  }
  
  .ln3-5 {
      position: absolute;
      width: 33;
      top: 140px; 
      left: 998px;
  }
  
  .ln4 {
      width: 190px;
      margin: auto;
  }
  
  .ln4-5 {
      position: absolute;
      width: 23;
      top: 174px; 
      left: 998px;
  }
  
  
  